################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/StartEvent/FileContentIndex/20c41cd8-d848-489c-9163-3bfd3e5cd7b1.vsidx
/.vs/StartEvent/FileContentIndex/4c29e4fd-3ecb-4612-aa5d-32b815d1fb8f.vsidx
/.vs/StartEvent/FileContentIndex/b385fd07-0a33-4d87-8948-dd05f95e425e.vsidx
